---
timezone:
  hwclock: UTC
  zoneinfo: America/Los_Angeles

locale:
  primary: en_US.UTF-8
  extra: []

hostname:
  name: archer
  aliases:
    - foo
    - bar

initramfs:
  packages:
    - lvm2
  hooks:
    - base
    - udev
    - autodetect
    - modconf
    - block
    - lvm2
    - filesystems
    - keyboard
    - fsck
