[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3'

[packages]
ansible = '>=2.7.0, <3.0.0'
docker = ">=3.5.1, <4.0.0"
molecule = ">=2.19.0, <3.0.0"
yamllint = ">=1.11.1, <2.0.0"
