# {{ ansible_managed }}

{% if item.options | length %}
[options]
{% for option in item.options %}
{{ option }}
{% endfor %}

{% endif %}
[{{ item.name }}]
{% for option in item.config %}
{{ option }}
{% endfor %}
