# {{ ansible_managed }}
MODULES=({{ initramfs.modules | join(' ') }})
BINARIES=({{ initramfs.binaries | join(' ') }})
FILES=()
HOOKS=({{ initramfs.hooks | join(' ') }})
COMPRESSION="gzip"
COMPRESSION_OPTIONS=()
